header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #111;
    padding: 10px 0;
    z-index: 1000;
    height: 10%;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav ul li {
    margin: 0 15px;
    height: 30%;
    font-size: 4rem;
    
    font-family: 'barra_navegacion', sans-serif;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    color: #00BFFF;
    font-weight: bold;
    padding: 8px 12px;
    transition: background 0.3s;
    height: 10%;
}

nav ul li a:hover {
    background-color: #FFFFFF;
    border-radius: 5px;
}

:root {
    --bg-color: #000000;
    --text-color: #ffffff;
    --nav-bg: #111111;
    --link-color: #ffffff;
}

body.dark-mode {
    --bg-color: #111111;
    --text-color: #ffffff;
    --nav-bg: #ffffff;
    --link-color: #111111;
}