* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
    background-color: #111;
    color: white;
}

main {
    margin-top: 60px;
}

section {
    padding: 80px 20px;
    min-height: 100vh;
}

@font-face {
    font-family: 'descripcion';
    src: url('../letras/RETROACTIVE.ttf') ;
  }

@font-face {
    font-family: 'barra_navegacion';
    src: url('../letras/Super\ Frosting.ttf');
  }
a {
    color: var(--link-color);
    text-decoration: none;
}