* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../img/unnamed.png");
     min-height: 100vh; /* Ocupa mínimo toda la pantalla */
  background-size: cover;       /* La imagen se adapta */
  background-repeat: no-repeat; /* No se repite */
  background-position: center;  /* Centrada */
  background-attachment: fixed; 
}

body.dark-mode {
    background-color: #111;
    color: white;
}

main {
    margin-top: 60px;
}


@font-face {
    font-family: 'descripcion';
    src: url('../letras/RETROACTIVE.ttf') ;
  }

@font-face {
    font-family: 'barra_navegacion';
    src: url('../letras/Super\ Frosting.ttf');
  }
a {
    color: var(--link-color);
    text-decoration: none;
}