


.descripcion{
  font-family: 'descripcion';
  margin-top: 10%;
  font-size: 3em;
  color: #40a56f;
  text-shadow: 
  2px 2px 4px #00BFFF
}

.texto-con-borde {
  color: white;
  text-shadow: 2px 2px 4px #00BFFF
}
.mis_datos {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}

.tarjeta {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  width: 30%;
  height: 70%;
}

.tarjeta_personal {
  perspective: 1000px; 
  width: 90%;
  
  height: 400px;
}

.tarjeta_contenido {
  position: relative;

  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.8s ease;
}

/* Voltear al hacer hover */
.tarjeta_personal:hover .tarjeta_contenido {
  transform: rotateY(180deg);
}

/* Cara delantera */
.cara_frontal,
.cara_trasera {
  position: absolute;
  width: 100%;
  height: 150%;
  backface-visibility: hidden;
  border: 3px solid #00BFFF;
  border-radius: 10px;
  overflow: hidden;

}

/* Contenido frontal */
.cara_frontal {
  background-color: #050322;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.cara_frontal img {
  width: 80%;
  height: auto;
  border-radius: 50%;
  border: 3px solid #ffffff;
  
}

.cara_frontal h2 {
  margin-top: 10px;
  color: #00BFFF;
  font-size: 1.2rem;
  text-align: center;
  
}

/* Contenido trasero */
.cara_trasera {
  background-color: #050322;
  color: #fff;
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-size: 2rem;
  text-align: center;
  box-sizing: border-box;
}
img:hover {
  transform: scale(1.1);
  border-color: #ffffff ;
  transition: border-color 2s ease,transform 2s ease;
}
.datos_personales{
  
  text-align: left;
  color: #00BFFF;
  text-shadow: none;
  margin-top: 7%;
  font-size: 1.33em;
  margin-left: 5%;
}
.datos_personales a {
  color: #00BFFF;
  text-decoration: none;
  transition: color 0.3s;
}
.datos_personales a:hover {
  color: #ffffff;
  text-shadow: 2px 2px 4px #bfdce6;
  transition: color 0.3s, text-shadow 0.3s;
}
